*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*
.position-fixed{
  position:fixed;
  width: 100%;
  height:50px;
  top: 0;
  z-index: 900;


} */

header{
 /* border: 1px solid black; */
}

.centratura{
 width: 80%;
 margin: 0 auto;

}

.logo {
  height: 50px;
  width: 180px;



}
.logo img{
  width: 100%;

}


.lgmenu ol li{
  display: inline-block;
}

nav{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.hamburger{
  display:none;
}

.lgmenu-dropdown{
  display: none;
  position: absolute;
  top:90px;
  left:0px;
  background-color: red;
  width: 100%;
  padding-left: 30px;    /* per spostare la lista del dropdown */
}

.hamburger:hover .lgmenu-dropdown{
  display: block;

}


/* jumbotron */
.contenitore-jumbo{
  height: 400px;
  background-color: blue;


}
.flex-box{
  display: flex;
  justify-content: center;



}



.jumbo-left{
  background-color: red;
  height:200px;
  flex-basis:50%;
}

.jumbo-right{
  background-color: green;
  height: 200px;
  flex-basis:50%;
}

.contenitore{
  min-height: 190px;
  background-color: yellow;
  flex-basis:50%;
}

h1{
  margin: 0;
  text-align: center;
}

p{
  text-align: center;
  margin: 0;
}

.contenitore-flex ol{   
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

/* carousel */
.background-color{
  background-color: lightgrey;
  height: 500px;
}

.contenitore-flex-carousel{
  display: flex;
  justify-content: center;
}

.box{
  height: 300px;
  width: 400px;
  background-color: red;

}

.align{
  align-self:center;
  margin: 0 30px;
}
